body {
  background: linear-gradient(to top, rgb(8, 0, 31), rgb(52, 0, 120));
}
.block-title {
  color: white;
  font-size: 120px;
  width: flex;
  height: flex;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
}
.block-description {
  color : white;
  text-align: center;
  font-size: 50px;
  width: flex;
  height: flex;
  font-family: 'Comfortaa'
}
.page-title-block {
  position: relative;
	width: flex;    
	height: flex;
	background: 
		linear-gradient(rgba(17, 17, 17, 0.7), rgba(0, 0, 0, 0.8)), 
		url(https://s1.1zoom.me/big0/4/Planets_Nebulae_in_space_518424_1280x480.jpg);
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top;    
}
.block-social-icons {
  display: flex;
  justify-content: center;
}
 
.block-social-icons a {
  margin: 0 10px;
}
 
.block-social-icons img  {
  width: 128px;
  height: 128px;
  transition: transform 0.3s;
}
.block-social-icons svg {
    width: 128px;
  height: 128px;
  transition: transform 0.3s;
}
.youtube img {
  width: 180px  
}
.block-social-icons a:hover img {
  transform: scale(1.2);
}
.block-social-icons a:hover svg {
  transform: scale(1.2);
}
.game canvas {
  background: linear-gradient(rgb(10, 10, 10), black);
  display: block;
  margin: 0 auto;
}
.game button {
  display: block;
  background: linear-gradient(rgb(10, 10, 10), black);
  color: #fff;
  font-family: 'Comfortaa';
  font-size: xx-large;
  width: 250px;
  height: 60px;
  display: block;
  margin: 0 auto;
}
.game button:hover {
  background: linear-gradient(rgb(40, 40, 40), black);
}
.block-paragraph {
  color : white;
  text-align: center;
  font-size: 13px;
  width: flex;
  height: flex;
  font-family: 'Comfortaa'
}
.block-end-of-page {
  background-color: linear-gradient(to bottom, grey, black);
}
hr.rounded {
  border-top: 8px solid #fff;
  border-radius: 5px;
}