html {
  background: linear-gradient(to top, rgb(8, 0, 31), rgb(52, 0, 120));
}
.block-title {
  color: white;
  font-size: 120px;
  width: flex;
  height: flex;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.block-title text:hover{
  transform: scale(1.5);
}
@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
}
.block-description {
  color : white;
  text-align: center;
  font-size: 35px, flex;
  width: flex;
  height: flex;
  font-family: 'Comfortaa'
}
.page-title-block {
  position: relative;
	width: flex;    
	height: flex;
	background: 
		linear-gradient(rgba(17, 17, 17, 0.7), rgba(0, 0, 0, 0.8)), 
		url(https://s1.1zoom.me/big0/4/Planets_Nebulae_in_space_518424_1280x480.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;    
}
.block-social-icons {
  display: flex;
  justify-content: center;
}
 
.block-social-icons a {
  margin: 0 10px;
}
 
.block-social-icons img  {
  width: 64px;
  height: 64px;
  transition: transform 0.3s;
}
.block-social-icons svg {
    width: 64px;
  height: 64px;
  transition: transform 0.3s;
}
.youtube img {
  width: 88px  
}
.block-social-icons a:hover img {
  transform: scale(1.2);
}
.block-social-icons a:hover svg {
  transform: scale(1.2);
}
